#pokedex{
    height: 850px;
    width: 550px;
    background-color: crimson;
    display: flex;
    border-radius: 10px;
    border: 7px solid black;
}
.scroll-liste {
  height: 100%;
  max-height: 800px;
  overflow-y: auto;
}
#ecran{
    height: 750px;
    width: 380px;
    background-position: 20px 220px;
    background-size: 120%;
    margin-top: 2.5%;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 1;
}
#nom{
    height: 80px;
    width: 376px;
    background-color: antiquewhite;
    border-radius: 10px;
}
#template{
    height: 550px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;

}
#liste{
    width: 160px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
}
p{
    color: cornsilk;
    font-weight: bold;
}

#clapet img{
    height: 870px;
    width: 550px;
    position: absolute;
    z-index: 2;
    /* transform: translateX(-572px) translateY(-22px); */
    transform: translateX(0px) translateY(-30px);
    background-size: cover;
    border-radius: 15px;
    transition: transform 0.7s;
    transform-style: preserve-3d;
    clip-path: inset(15px 0 0 0);
    border: 7px solid black;
    animation: slide  1s forwards
}
#ecrou{
    width: 170px !important;
    height: 170px !important;
    position: relative;
    transform: translateX(-85px) translateY(120px) !important;
    border: none !important;
    z-index: 0 !important;
}
#ecrou1{
    width: 170px !important;
    height: 170px !important;
    position: relative;
    transform: translateX(-85px) translateY(570px) !important;
    border: none !important;
    z-index: 0 !important;
}

@keyframes slide {
  from {
    transform: translateX(0px) translateY(-30px);
  }
  to {
    transform: translateX(-560px) translateY(-26px);
  }
}  

 